body{
    text-align: center;
    background-color: #EBEDEF ;
}
button{
   background-color:#FFC300  ;
   border-radius: 20px;
   border-style: none;
   font-size: x-large;
   padding: 10px;
}
img{
    height: 150px;
    width: 150px;
}
h4{
    text-transform: uppercase;
    color: crimson;
}
.text_area{
   
    border-radius: 50px;
    background-color: #fff;
    border-top-color: #FFC300;
    border-style: double;
    border-top-width:15px ;
    border-bottom-style:none ;
}
.back{
    background-color:#34495E ;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
    border-style: double;
    border-color: #FFC300;
}